<!DOCTYPE html>
<html lang="en" style="height:100%; overflow-y: auto">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiBU-65wWfThPN76zTBrxNjzX77jStPPM"></script>
    <title>client</title>
  </head>
  <body style="height:100%">
    <noscript>
      <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"style="height:100%"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
