<template>
	<v-app app style="height:100%">
		<v-toolbar app color="primary">
			<v-toolbar-title>David Emami's contacts demo</v-toolbar-title>
			<v-spacer></v-spacer>
			<Search v-if="mode!=='record'"/>
			<v-toolbar-items>
				<v-btn flat to="/table">Table</v-btn>
				<v-btn flat to="/tiles">Tiles</v-btn>
				<v-btn flat to="/map">Map</v-btn>
			</v-toolbar-items>
		</v-toolbar>
		<v-content style="height:100%">
			<router-view/>
			<v-btn v-if="mode!=='record'" fixed absolute dark fab bottom right color="primary" style="margin-bottom:40px" to="/record/new">
				<v-icon>add</v-icon>
			</v-btn>        
		</v-content>
	</v-app>
</template>

<script>
import Search from '@/components/Search.vue'
import { mapState } from 'vuex'

export default {
	components: {
		Search
	},
	computed: mapState([
		'mode'
	]),
	mounted: function() {
		this.$store.dispatch('loadContacts');
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
#nav {
	padding: 30px;
}

#nav a {
	font-weight: bold;
	color: #2c3e50;
}

#nav a.router-link-exact-active {
	color: #42b983;
}
</style>
