<template>
	<div id="map" style="height:100%; width:100%"/>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'Map',
	computed: {...mapState([
			'contacts'
		]),
		// Filter out contacts that do not have a geocoded position
		geocodedContacts: function() {
			return this.contacts ? this.contacts.filter(contact => contact.position && contact.position.lat && contact.position.lng) : [];
		}
	},
	data() {
		return {
			map: null,
			markers: [],
			startZoom: 7
		}
	},
	methods: {
		getStartCenter() {
			return {lat:36.133465, lng:-115.148040};
		},
		// Add markers to the map for filtered contacts that have been geocoded
		updateMarkers() {
			let component = this;
			for (let marker of this.markers) {
				marker.setMap(null);
			}
			this.markers = [];
			for (let contact of this.geocodedContacts) {
				let marker = new google.maps.Marker({
					position: new google.maps.LatLng(contact.position.lat, contact.position.lng),
					map: this.map,
					title: `${contact.firstName} ${contact.lastName}`
				});
				marker.addListener('click', function() {
		            component.$router.push(`/record/${contact._id}`);					
				});
				this.markers.push(marker);
			}
		}
	},
	// Initialize the Google Map
    mounted() {
        this.$store.commit('setMode', 'map');
        this.map = new google.maps.Map(document.getElementById('map'), {
			center: this.getStartCenter(),
			zoom: this.startZoom
		});
		this.infoWindow = new google.maps.InfoWindow({
    		content: 'blank'
		});
  		this.updateMarkers();
	},
	watch: {
		contacts: function(value) {
			this.updateMarkers();
		}
	}
}

</script>