<template>
	<div style="height:90%">
		<v-container grid-list-md style="height=320px">
			<v-layout row wrap style="height:100%">
				<v-flex xs4 style="height:100%">
					<v-card style="padding:10px; height:100%">
						<v-form ref="form" v-model="valid" lazy-validation style="padding:10px; height:100%">
							<Vitals/>
						</v-form>
					</v-card>
				</v-flex>
				<v-flex xs4>
					<PhoneNumbers/>
				</v-flex>
				<v-flex xs4>
					<Emails/>
				</v-flex>
			</v-layout>
		</v-container>
		<v-container style="height:320px">
			<v-layout row style="height:100%">
				<v-flex xs12>
					<Addresses/>
				</v-flex>
			</v-layout>
		</v-container>
		<v-footer fixed color="primary">
			<v-spacer></v-spacer>
			<v-btn flat :disabled="!canSave()" @click="handleSave()">Save</v-btn>
			<v-btn flat @click="handleCancel()">Cancel</v-btn>           
		</v-footer>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import toast from 'vuetify-toast';
import Addresses from '../components/Addresses';
import Emails from '../components/Emails';
import PhoneNumbers from '../components/PhoneNumbers';
import Vitals from '../components/Vitals';

const minNameLength = 2;

export default {
	name: 'Record',
	components: {
		Addresses,
		Emails,
		PhoneNumbers,
		Vitals
	},
	computed: {
		...mapState(['contact', 'multiRecordMode']),
		editableContact: {
			get() {
				return this.contact;
			},
			set(newContact) {
				this.$store.commit('setContact', newContact);
			}
		}
	},
	data() {
		return {
			dateMenu: false,
			valid: false
		};
	},
	props: [
		'id'
	],
	methods: {
		// True if the contact is in a valid state for saving (first name, last name, at least one email, at least one phone)
		canSave() {
			return this.valid &&
				this.editableContact.emails && this.editableContact.emails.length &&
				this.editableContact.phoneNumbers && this.editableContact.phoneNumbers.length;
		},

		// Tries to save the contact, and shows a toast to let the user know what happened. It it succeeded, returns to the last multi view
		handleSave() {
			let view = this;
			this.$store.dispatch('saveContact',{
				payload: this.contact
			})
			.then(function(savedContact) {
				toast.success(`${savedContact.firstName} ${savedContact.lastName} saved.`);
				view.returnToLastMultiView();
			})
			.catch(function(error) {
				console.log(error);
				toast.error(`Error trying to save ${view.contact.firstName} ${view.contact.lastName}.`);
			});
		},

		// Returns to the last multi view
		handleCancel() {
			this.returnToLastMultiView();
		},

		// Returns to table, tile, or map view, whichever we were on last
		returnToLastMultiView() {
			switch (this.multiRecordMode) {
				case 'map':
					this.$router.push('/map');
					break;
				case 'tile':
					this.$router.push('/tiles');
					break;
				default:
					this.$router.push('/table');
			}
		}
	},

	// Loads the contact specified in the URL
	mounted() {
		this.$store.commit('setMode', 'record');
		this.$store.dispatch('loadContact', { id: this.id });
	}
};
</script>