<template>
	<div style="height:100%">
		<v-data-table v-if="contacts" :headers="headers" :items="contacts" hide-actions must-sort class="elevation-1" style="height:100%">
			<template slot="items" slot-scope="contact">
				<tr>
					<td class="justify-center layout px-0">
                        <v-icon small @click="deleteContact(contact.item)">delete</v-icon>
					</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.firstName }}</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.lastName }}</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.birthdate }}</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.address }}</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.phoneNumber }}</td>
					<td class="text-xs-left" @click="goToContact(contact.item)">{{ contact.item.email }}</td>
				</tr>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import toast from 'vuetify-toast'

export default {
	name: 'Table',
	computed: mapState([
        'contacts'
    ]),
    data() {
        return {
            headers: [
                {
                    align: 'center',
                    sortable: false,
                    value: 'actions'
                }, 
                {
                    text: 'First name',
                    align: 'left',
                    sortable: true,
                    value: 'firstName'
                },
                {
                    text: 'Last name',
                    align: 'left',
                    sortable: true,
                    value: 'lastName'
                },
                {
                    text: 'Date of Birth',
                    align: 'left',
                    sortable: true,
                    value: 'birthdate'
                },
                {
                    text: 'Address',
                    align: 'left',
                    sortable: true,
                    value: 'address'
                },
                {
                    text: 'Phone',
                    align: 'left',
                    sortable: true,
                    value: 'phoneNumber'
                },
                {
                    text: 'E-Mail',
                    align: 'left',
                    sortable: true,
                    value: 'email'
                }
            ]
        };
    },
    methods: {
        deleteContact(contact) {
            let dispatch = this.$store.dispatch;
			this.$confirm(`Delete ${contact.firstName} ${contact.lastName}?`).then(function(confirmed) {
				if (confirmed) {
					dispatch('deleteContact', {
                            id: contact._id
						})
						.then(function() {
							toast.success(`${contact.firstName} ${contact.lastName} deleted.`);
                        })
                        .catch(function(error) {
                            console.log(error);
							toast.error(`Error trying to delete ${contact.firstName} ${contact.lastName}.`);
                        });									
				}			
			});
        },
        goToContact(contact) {
            this.$router.push(`/record/${contact._id}`);
        }
    },
    mounted() {
        this.$store.commit('setMode', 'table');
    }
}
</script>