<template>
	<div style="height=100%">
		<v-container v-if="contacts" fluid grid-list-md style="height:100%">
			<v-data-iterator :items="contacts" content-tag="v-layout"	row	wrap style="height:100%">
				<v-flex	slot="item"	slot-scope="contact" xs12 sm6 md4 lg3>
					<v-card>
						<v-card-title><h4><v-icon small @click="deleteContact(contact.item)">delete</v-icon>{{ contact.item.firstName }} {{ contact.item.lastName }}</h4></v-card-title>
						<v-divider></v-divider>
						<v-list dense>
							<v-list-tile @click="goToContact(contact.item)">
								<v-list-tile-content>Date of Birth:</v-list-tile-content>
								<v-list-tile-content class="align-end">{{ contact.item.birthdate }}</v-list-tile-content>
							</v-list-tile>
							<v-list-tile @click="goToContact(contact.item)">
								<v-list-tile-content>Address:</v-list-tile-content>
								<v-list-tile-content class="align-end">{{ contact.item.address }}</v-list-tile-content>
							</v-list-tile>
							<v-list-tile @click="goToContact(contact.item)">
								<v-list-tile-content>Phone:</v-list-tile-content>
								<v-list-tile-content class="align-end">{{ contact.item.phoneNumber }}</v-list-tile-content>
							</v-list-tile>
							<v-list-tile @click="goToContact(contact.item)">
								<v-list-tile-content>E-Mail:</v-list-tile-content>
								<v-list-tile-content class="align-end">{{ contact.item.email }}</v-list-tile-content>
							</v-list-tile>
						</v-list>
					</v-card>
				</v-flex>
			</v-data-iterator>
		</v-container>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import toast from 'vuetify-toast'

export default {
	name: 'Tiles',
	computed: mapState([
		'contacts'
	]),
	data() {
		return {
			rowsPerPageItems: [4, 8, 12],
			pagination: {
				rowsPerPage: 4
			}		
		}
	},
	methods: {
		deleteContact(contact) {
            let dispatch = this.$store.dispatch;
			this.$confirm(`Delete ${contact.firstName} ${contact.lastName}?`).then(function(confirmed) {
				if (confirmed) {
					dispatch('deleteContact', {
                            id: contact._id
						})
						.then(function() {
							toast.success(`${contact.firstName} ${contact.lastName} deleted.`);
						});									
				}			
			});
		},
	    goToContact(contact) {
            this.$router.push(`/record/${contact._id}`);
        }
	},
    mounted() {
        this.$store.commit('setMode', 'tile');
    }
}
</script>