<template>
	<v-dialog v-model="dialogVisible" persistent max-width="600px">
		<v-card>
			<v-card-title>
				<span class="headline">Address</span>
			</v-card-title>
			<v-card-text>
				<v-form v-if="value" ref="form" lazy-validation style="padding:10px">
					<v-text-field v-model="internalValue.street" label="Street"></v-text-field>
					<v-text-field v-model="internalValue.city" label="City"></v-text-field>
					<v-text-field v-model="internalValue.state" label="State"></v-text-field>
					<v-text-field v-model="internalValue.postalCode" label="Postal Code"></v-text-field>
					<v-text-field v-model="internalValue.country" label="Country"></v-text-field>
				</v-form>
			</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="primary darken-1" flat @click="handleSave()">Save</v-btn>
				<v-btn color="primary darken-1" flat @click="handleCancel()">Cancel</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapState } from 'vuex';

export default {
	name: 'AddressDialog',	
	data() {
		return {
			internalValue: {}
		};
	},
	props: [
		'dialogVisible',
		'rowID',
		'value'
	],
	methods: {
		handleSave() {
            this.$emit('save', this.internalValue, this.rowID);
		},
		handleCancel() {
            this.$emit('cancel');
		}
	},
	mounted() {
		this.internalValue = this.value;
	},
	beforeUpdate() {
		this.internalValue = this.value;
	}
}
</script>