<template>
    <v-card style="padding:10px; height:100%">
		<v-card-text>Addresses</v-card-text>
		<v-data-table v-if="addresses" :headers="headers" :items="addresses" hide-actions must-sort style="height:100%">
			<template slot="items" slot-scope="address">
				<tr>
					<td class="justify-center layout px-0">
                        <v-icon small @click="deleteAddress(address.item)">delete</v-icon>
					</td>
					<td class="text-xs-left" @click="editAddress(address.item, address.index)">{{ address.item.street }}</td>
					<td class="text-xs-left" @click="editAddress(address.item, address.index)">{{ address.item.city }}</td>
					<td class="text-xs-left" @click="editAddress(address.item, address.index)">{{ address.item.state }}</td>
					<td class="text-xs-left" @click="editAddress(address.item, address.index)">{{ address.item.postalCode }}</td>
					<td class="text-xs-left" @click="editAddress(address.item, address.index)">{{ address.item.country }}</td>
				</tr>
			</template>
		</v-data-table>
		<AddressDialog v-model="dialogAddress" :rowID="dialogRowID" :dialogVisible="dialogVisible" @save="dialogSave" @cancel="dialogCancel()" />
		<v-btn small absolute dark fab bottom right color="primary" style="margin-bottom:40px" @click="addAddress()">
			<v-icon>add</v-icon>
		</v-btn>        
    </v-card>
</template>

<script>
import { mapState } from 'vuex'
import AddressDialog from '../components/AddressDialog';

export default {
	name: 'Addresses',
	components: {
		AddressDialog
	},
	computed: {
		...mapState([
            'contact', 
        ]),
		addresses: {
			get() {
				return this.contact ? this.contact.addresses : [];
			},
			set(newAddresses) {
				this.$store.commit('setAddresses', newAddresses);
			}
		}
	},
    data() {
        return {
			dialogAddress: {},
			dialogRowID: null,
			dialogVisible: false,
            headers: [
                {
                    align: 'center',
                    sortable: false,
                    value: 'actions'
                }, 
                {
                    text: 'Street',
                    align: 'left',
                    sortable: true,
                    value: 'street'
                },
                {
                    text: 'City',
                    align: 'left',
                    sortable: true,
                    value: 'City'
                },
                {
                    text: 'State',
                    align: 'left',
                    sortable: true,
                    value: 'state'
                },
                {
                    text: 'Postal Code',
                    align: 'left',
                    sortable: true,
                    value: 'postalCode'
                },
                {
                    text: 'Country',
                    align: 'left',
                    sortable: true,
                    value: 'country'
                }
            ]
        };
    },
	methods: {
		addAddress() {
			this.dialogAddress = {
				street: '',
				city: '',
				state: '',
				postalCode: '',
				country: ''
			}
			this.dialogRowID = -1;
			this.dialogVisible = true;
		},
		deleteAddress(addressToDelete) {
			this.addresses = this.addresses.filter(function(address, addressIndex) {
				return address !== addressToDelete;
			});
		},
		editAddress(address, rowID) {
			this.dialogAddress = address;
			this.dialogRowID = rowID;
			this.dialogVisible = true;
		},
		dialogSave(newAddress, rowID) {
			this.dialogVisible = false;
			if (rowID === -1) {
				this.addresses = [...this.addresses, newAddress];
			} else {
				this.addresses = this.addresses.map(function(address, addressIndex) {
					return addressIndex === rowID ? newAddress : address;
				});
			}
		},
		dialogCancel() {
			this.dialogVisible = false;
		}
	}
}
</script>