<template>
    <td class="text-xs-left" @click="cellClicked()">
        <span v-if="!editing">{{value}}</span>
        <v-text-field 
            v-if="editing" 
            v-model="internalValue" 
            @change="textFieldChanged()" 
            @keydown.esc="escapePressed()" 
            @blur="blurred()" 
            single-line 
            autofocus
            required 
            :rules="[blankIsInvalid]"
            >
        </v-text-field>
    </td>
</template>

<script>

import * as _ from 'lodash';

export default {
    name: 'EditableGridCell',
    data() {
        return {
            blankIsInvalid: value => !!value || 'A value is required',
            initialValue: null,
            internalValue: null,
            editing: false
        };
    },
    props: [
        'value',
        'rowID'
    ],
    methods: {
        blurred() {
            if (_.isEmpty(this.internalValue)) {
                this.internalValue = this.initialValue;
            }
            this.$emit('input', this.internalValue);
            this.$emit('change', this.internalValue, this.rowID);
            this.editing = false;
        },
        cellClicked() {
            this.internalValue = this.value;
            this.initialValue = this.value;
            this.editing = true;
        },
        escapePressed() {
            this.internalValue = this.initialValue;
            this.editing = false;
            this.$emit('input', this.internalValue);
            this.$emit('change', this.internalValue, this.rowID);
        },
        textFieldChanged() {
            this.$emit('input', this.internalValue);
            this.$emit('change', this.internalValue, this.rowID);
        }
    },
    mounted() {
        this.initialValue = this.value;
        this.internalValue = this.value;
    }
}

</script>