<template>
	<v-card style="padding-left:10px; padding-right:10px; height:100%">
		<v-card-text>{{emails.length ? 'E-mail addresses' : 'E-mail addresses (at least one)'}}</v-card-text>
		<v-data-table v-if="emails" :headers="headers" :items="emails" hide-actions hide-headers style="height:190px; width:100%; max-height:240px; overflow-y:auto">
			<template slot="items" slot-scope="email">
				<tr>
					<td class="justify-center layout px-0">
						<v-icon v-if="emails.length>1" small @click="deleteEmail(email.index)">delete</v-icon>
					</td>
					<EditableTableCell v-model="email.item" :rowID="email.index" @change="inputChanged"/>
				</tr>
			</template>
		</v-data-table>
		<v-btn small absolute dark fab bottom right color="primary" style="margin-bottom:40px" @click="addEmail()">
			<v-icon>add</v-icon>
		</v-btn>        
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
import EditableTableCell from '../components/EditableTableCell';

export default {
	name: 'Emails',
	components: {
		EditableTableCell
	},
	computed: {
		...mapState([
            'contact', 
        ]),
		emails: {
			get() {
				return this.contact ? this.contact.emails : [];
			},
			set(newEmails) {
				this.$store.commit('setEmails', newEmails);
			}
		}
	},
	data() {
		return {
			editingRowIndex: null,
            headers: [
                {
                    align: 'center',
                    sortable: false,
                    value: 'actions'
                }, 
                {
                    text: 'E-mail',
                    align: 'left',
                    sortable: true,
                    value: 'item'
				}
			]
		};
	},
	methods: {
		addEmail() {
			this.$store.commit('setEmails', [... this.emails, 'name@domain.tld']);
		},
		inputChanged(newValue, rowID) {
			this.emails = this.emails.map(function(email, emailIndex) {
				return emailIndex === rowID ? newValue : email;
			});
		},
		deleteEmail(indexToDelete) {
			this.emails = this.emails.filter(function(email, emailIndex) {
				return emailIndex !== indexToDelete;
			});
		}
	}
}
</script>