<template>
    <v-toolbar>
        <Search/>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn flat to="/table">Table</v-btn>
            <v-btn flat to="/tiles">Tiles</v-btn>
            <v-btn flat to="/map">Map</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
import Search from '@/components/Search.vue'
import { mapState } from 'vuex'

export default {
    name: 'MultiRecordAppBar',
    components: {
        Search
    },
	computed: mapState([
		'searchValue'
	])
}
</script>