<template>
	<v-card style="padding-left:10px; padding-right:10px; height:100%">
		<v-card-text>{{phoneNumbers.length ? 'Phone numbers' : 'Phone numbers (at least one)'}}</v-card-text>
		<v-data-table v-if="phoneNumbers" :headers="headers" :items="phoneNumbers" hide-actions hide-headers style="height:190px; width:100%; max-height:240px; overflow-y:auto">
			<template slot="items" slot-scope="phoneNumber">
				<tr>
					<td class="justify-center layout px-0">
						<v-icon v-if="phoneNumbers.length>1" small @click="deletePhoneNumber(phoneNumber.index)">delete</v-icon>
					</td>
					<EditableTableCell v-model="phoneNumber.item" :rowID="phoneNumber.index" @change="inputChanged"/>
				</tr>
			</template>
		</v-data-table>
		<v-btn small absolute dark fab bottom right color="primary" style="margin-bottom:40px" @click="addPhoneNumber()">
			<v-icon>add</v-icon>
		</v-btn>        
	</v-card>
</template>

<script>
import { mapState } from 'vuex';
import EditableTableCell from '../components/EditableTableCell';

export default {
	name: 'PhonesNumbers',
	components: {
		EditableTableCell
	},
	computed: {
		...mapState([
            'contact', 
        ]),
		phoneNumbers: {
			get() {
				return this.contact ? this.contact.phoneNumbers : [];
			},
			set(newPhoneNumbers) {
				this.$store.commit('setPhoneNumbers', newPhoneNumbers);
			}
		}
	},
	data() {
		return {
			editingRowIndex: null,
            headers: [
                {
                    align: 'center',
                    sortable: false,
                    value: 'actions'
                }, 
                {
                    text: 'Phone',
                    align: 'left',
                    sortable: true,
                    value: 'item'
				}
			]
		};
	},
	methods: {
		addPhoneNumber() {
			this.$store.commit('setPhoneNumbers', [... this.phoneNumbers, '111-111-1111']);
		},
		inputChanged(newValue, rowID) {
			this.phoneNumbers = this.phoneNumbers.map(function(phoneNumber, phoneNumberIndex) {
				return phoneNumberIndex === rowID ? newValue : phoneNumber;
			});
		},
		deletePhoneNumber(indexToDelete) {
			this.phoneNumbers = this.phoneNumbers.filter(function(phoneNumber, phoneNumberIndex) {
				return phoneNumberIndex !== indexToDelete;
			});
		}
	}
}
</script>