<template>
      <v-text-field v-model="editableSearchValue" append-icon="search" label="Search" single-line hide-details style="margin-right:25px"></v-text-field>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'Search',
	computed: {
		...mapState([
			'searchValue'
		]),
		editableSearchValue: {
			get() {
				return this.searchValue;
			},
			set(newSearchValue) {
				this.$store.commit('setSearchValue', newSearchValue);
			}
		}
	}
}
</script>