<template>
    <v-toolbar>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn flat @click="saveChanges()">Save</v-btn>
            <v-btn flat @click="cancelChanges()">Cancel</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'SingleRecordAppBar',
	computed: mapState([
		'searchValue'
    ]),
    methods: {
        saveChanges() {

        },
        cancelChanges() {

        }
    }
}
</script>