<template>
	<div v-if="contact" style="height:100%">
        <v-text-field v-model="editableContact.firstName" label="First name" required :rules="validationRules.firstName"></v-text-field>
        <v-text-field v-model="editableContact.lastName" label="Last name" required :rules="validationRules.lastName"></v-text-field>
        <v-menu ref="dateMenu" 
            :close-on-content-click="false" 
            v-model="dateMenu" 
            :nudge-right="40" 
            :return-value.sync="editableContact.birthdate" 
            lazy 
            transition="scale-transition" 
            offset-y 
            full-width 
            min-width="290px"
        >
            <v-text-field slot="activator" v-model="editableContact.birthdate" label="Birthdate" prepend-icon="event"></v-text-field>
            <v-date-picker v-model="editableContact.birthdate" @input="$refs.dateMenu.save(editableContact.birthdate)"></v-date-picker>
        </v-menu>
    </div>
</template>

<script>
import { mapState } from 'vuex';

const minNameLength = 2;

export default {
	name: 'Vitals',
	computed: {
		...mapState([
            'contact'
        ]),
		editableContact: {
			get() {
				return this.contact;
			},
			set(newContact) {
				this.$store.commit('setContact', newContact);
			}
		}
	},
	data() {
		return {
			dateMenu: false,
			valid: false,
			validationRules: {
				firstName: [
					value => !!value || 'A first name is required',
					value => (value && value.length >= minNameLength) || `The first name must be at least ${minNameLength} characters long`
				],
				lastName: [
					value => !!value || 'A last name is required',
					value => (value && value.length >= minNameLength) || `The last name must be at least ${minNameLength} characters long`
				]
			}
		};
	},
	props: [
        'id'
    ]
};
</script>